<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="database_ex1.My.MySettings.학생정보DataSet" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\학생정보.ndb.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>